<style>
table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:5px auto;
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold;
	}

td {
	padding: 2px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 12px;
	}
td.left {
	padding: 2px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 12px;
    width: 15%;
	}
td.rotate {
	writing-mode: vertical-lr;
}
th { 
	padding: 2px; 
	border: 1px solid #ccc; 
	text-align: center; 
	font-size: 12px;
	}


}

</style>


<table>
    <tr>
        <td class="center" >
            <h3>{{ header['company_name'] }}</h3>
        </td>
    </tr>
</table>
<table class='left'>
    <th colspan=12 class="center">
        {{ header['sap_order_report'] }}
    </th>
    <tr>
        <td class='left'>
            {{ header['order'] }}
        </td>
        <td class='left'>
            {{ other_data['order'] }}
        </td>
        <td class='left' colspan=8></td>
        <td class='left'>
            {{ header['date'] }}
        </td>
        <td class='left'>
            {{ other_data['date'] }}
        </td>
    </tr>
    
    <tr>
            <td class='left' colspan=12></td>
    </tr>

    
</table>
<br>
<table>
    <table class="centered bordered">
        <tr>
            <th colspan=5>
            </th>
            {% for i in range(4) %}
                {% if visibility.get(i+1).visible %}
                    <th class='center' colspan={{ field_count.get(i+1).sn + field_count.get(i+1).check + 4 }} {% if not visibility.get(i+1).visible %} style="display:none;" {% endif %}>
                        {{ header['Part ' + (i+1)|string] }}
                    </th>
                {% endif %}
            {% endfor %}
            <th colspan=5>
            </th>
        </tr>
        <tr>
            <td>
                {{ header['row'] }}
            </td>
            <td>
                {{ header['order_item'] }}
            </td>
            <td >
                {{ header['pallet'] }}
            </td>
            <td>
                {{ header['box'] }}
            </td>
            <td>
                {{ header['item_set'] }}
            </td>

            {% for p in range(1, 5) %}
                    {% for i in range(8)%}
                        <td  class='rotate' {% if not visibility.get(p).visible_sn_count[i] %} style="display:none;" {% endif %}>
                            {{ header['sn'+ (i+1)|string ] }}
                        </td>
                    {% endfor %}
                    {% for i in range(8)%}
                        <td  class='rotate' {% if not visibility.get(p).visible_check_count[i] %} style="display:none;" {% endif %}>
                            {{ header['check'+ (i+1)|string ] }}
                        </td>
                    {% endfor %}
                    <td  class='rotate' {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {{ header['weight'] }}
                    </td>
                    <td  class='rotate' {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {{ header['length'] }}
                    </td>
                    <td  class='rotate' {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {{ header['width'] }}
                    </td>
                    <td  class='rotate' {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {{ header['thickness'] }}
                    </td>
            {% endfor %}


            <td>
                {{ header['total_weight'] }}
            </td>
            <td>
                {{ header['create_user'] }}
            </td>
            <td>
                {{ header['update_user'] }}
            </td>
            <td>
                {{ header['update_date'] }}
            </td>
        </tr>
{% set index=0 %}
{% for o_i in data %}

        {% for i_s in data[o_i] %}
            {% set index = index + 1 %}
            <tr>
                <td>
                    {{ index }}
                </td>
                <td>
                    {{order_item_data[o_i].order_item[1]}}
                </td>
                <td>
                    {{order_item_data[o_i].pallet[1]}}
                </td>
                <td>
                    {{order_item_data[o_i].box[1]}}
                </td>
                <td>
                    {{order_item_data[o_i].item_set[1]}}
                </td>

                {% for p in range(1, 5) %}
                    {% if p-1 < data[o_i][i_s].parts|length %}
                        {% set part = data[o_i][i_s].parts[p-1]%}
                    {% else %}
                        {% set part = 0 %}
                    {% endif %}

                    {% for j in range(8) %}
                        <td {% if not visibility.get(p).visible_sn_count[j] %} style="display:none;" {% endif %}>
                            {% if part and part.get('sn' + (j+1)|string) %}
                                {{part.get('sn' + (j+1)|string)}}
                            {% else %}
                                <span> - </span>
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% for j in range(8) %}
                        <td {% if not visibility.get(p).visible_check_count[j] %} style="display:none;" {% endif %}>
                            {% if part and part.get('check' + (j+1)|string) %}
                                {{part.get('check' + (j+1)|string)}}
                            {% else %}
                                <span> - </span>
                            {% endif %}
                        </td>
                    {% endfor %}

                    <td {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {% if part %}
                            {{part.weight}}
                        {% else %}
                            <span> - </span>
                        {% endif %}
                    </td>
                    <td {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {% if part %}
                            {{part.length}}
                        {% else %}
                            <span> - </span>
                        {% endif %}
                    </td>
                    <td {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {% if part %}
                            {{part.width}}
                        {% else %}
                            <span> - </span>
                        {% endif %}
                    </td>
                    <td {% if not visibility.get(p).visible %} style="display:none;" {% endif %}>
                        {% if part %}
                            {{part.thickness}}
                        {% else %}
                            <span> - </span>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{data[o_i][i_s].weight}}
                </td>
                <td>
                    <span> N/A </span>
                </td>
                <td>
                    <span> N/A </span>
                </td>
                <td>
                    <span> {{data[o_i][i_s].update_date}} </span>
                </td>
            </tr>
        {% endfor %}


{% endfor %}
    </table>

</table>
